.web-nm{
  text-decoration: none;
  color: #000;
}
.footer{
    background-color: #f2f2f2;
    color: #333;
    position :relative;
    font-size: 20px;
}
.footer-ul{
    align-items: center;
    padding: 20px;
    color: #333;
}
.footer-div{
    display: flex;
   gap: 100px;
}

@media  (max-width:600px) {
    .footer-div{
        display:flex;
        flex-direction: column;
        gap: 10px;
       
    }
    #footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .footer-ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
}
@media (min-width:601px) and (max-width:768px) {
    .footer-ul{
    display: block;
 
    }
    .footer-div{
        gap: 0;
    }
}
@media (min-width:769px) and (max-width:1000px) {
    .footer-ul{
        display: block;
    }
    .legal-ul{
        display: none;
        visibility: hidden;
    }
}



